.article {
  font-size: $base-fontsize * 1.2;
  &__img {
    margin-top: 70px;
    width: 100%;
  }

  &__heading {
    color: $base-bgcolor-red;
    font-size: $base-fontsize * 2;
    font-weight: bold;
    margin-top: 50px;
  }

  &__date {
    color: $base-bgcolor-red;
    text-align: right;
    margin-bottom: 50px;
    font-size: $base-fontsize * 1.4;
  }

  &__content h2 {
    line-height: 60px;
    font-size: $base-fontsize * 1.7;
    background: $base-bgcolor-red;
    color: $base-bgcolor-white;
    text-align: left;
    padding-left: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
    }

  &__content p{
    line-height: 1.8;
  }

  &__map {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
