// リボン
.ribbon1 {
  display: inline-block;
  position: relative;
  height: 50px;/*リボンの高さ*/
  line-height: 50px;/*リボンの高さ*/
  text-align: center;
  padding: 0 40px;/*横の大きさ*/
  font-size: 18px;/*文字の大きさ*/
  background: $base-bgcolor-red;/*塗りつぶし色*/
  color:$base-bgcolor-white;/*文字色*/
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  display: block;
  width: 70%;

  &:before, &:after {
    position: absolute;
    content: '';
    width: 0px;
    height: 0px;
    z-index: 1;
}

  &:before {
    top: 0;
    left: 0;
    border-width: 25px 0px 25px 15px;
    border-color: transparent transparent transparent #fff;
    border-style: solid;
}

  &:after {
    top: 0;
    right: 0;
    border-width: 25px 15px 25px 0px;
    border-color: transparent #fff transparent transparent;
    border-style: solid;
}
}
// リボンここまで

.card {
  margin: 100px auto;
  width: 400px;
  height: 530px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
  position: relative;


  &__img{
    border-radius: 5px 5px 0 0;
    width: 100%;
    // height: auto;
    }

  &__title{
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
    // color: $base-bgcolor-blue;
    margin-top: $mt-contents;

  }
  &__text{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  &__btn{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: $base-bgcolor-white;/*ボタン色*/
    color: $base-bgcolor-red;
    // border-bottom: solid 4px $base-bgcolor-red;
    // border-radius: 3px;
    // display: block;
    // margin-right: auto;
    // margin-left: auto;
    width: 40%;
    text-align: center;
    position: absolute;
    top: 88%;
    left: 25%;
    transition: .3s;
    border-bottom: 1px double $base-bgcolor-red;
  }

  &__btn:hover{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: $base-bgcolor-red;/*ボタン色*/
    color: $base-bgcolor-white;
    // border-bottom: solid 4px $base-bgcolor-red;
    border-radius: 3px;
    // display: block;
    // margin-right: auto;
    // margin-left: auto;
    width: 40%;
    text-align: center;
    position: absolute;
    top: 88%;
    left: 25%;
  }
}

@media screen and (max-width: 800px){
  .flex {
  display: flex;
  flex-direction: column;
  }
  .card {
  margin: 50px auto;
  height: 550px;

    &__btn{
    display: inline-block;
    padding: 1em 1em;
    text-decoration: none;
    // display: block;
    // margin-right: auto;
    // margin-left: auto;
    width: 40%;
    text-align: center;
    position: absolute;
    top: 85%;
    left: 25%;
  }
}
}
