.sns {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;

  &__facebook {
    background-color: #2e4a88;
    box-shadow: 0 4px 0 #1B3D82;
    text-shadow: 0 -1px -1px #1B3D82;
    display: inline;
    position: relative;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    padding: 14px 80px;
}

  &__facebook:hover {
    background-color: #354F84;
}
  &__facebook:active {
    top: 2px;
  	box-shadow: 0 2px 0 #1B3D82;
}
  &__twitter {
    background-color: #008DDE;
    box-shadow: 0 4px 0 #0078BD;
    display: inline;
    position: relative;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    padding: 14px 80px;
}
  &__twitter:active {
    top: 2px;
    box-shadow: 0 2px 0 #0078BD;
}
  &__twitter:hover {
    background-color: #1397D8;
}
  &__google {
    background-color: #CC3622;
    box-shadow: 0 4px 0 #BA2714;
    display: inline;
    position: relative;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    padding: 14px 80px;
}
  &__google:active {
    top: 2px;
	  box-shadow: 0 2px 0 #BA2714;
}
  &__google:hover {
    background-color: #D04829;
}
}

/* SP MediaQuery */
@media only screen and (max-width:478px) {
.sns{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-right: auto;
  margin-left: auto;

  &__facebook,
  &__twitter,
  &__google {
    margin-top: 10px;
  }
}
}
/* SP MediaQuery end */
