.main {
  padding-top: 70px;
  background: $base-bgcolor-white;
  &__visual__img {
    width: 100%;
    position: relative;
  }

  &__text {
    position: absolute;
    top: 44%;
    left: 30%;
    color: $base-bgcolor-white;
    font-size: $base-fontsize * 5;
  }
}

/* PC&TAB MediaQuery */
@media only screen and (max-width:800px) {
  .main{
    padding-top: 120px;
    &__text {
      position: absolute;
      top: 39%;
      left: 27%;
      color: $base-bgcolor-white;
      font-size: $base-fontsize * 3;
    }
  }
  }
/* PC&TAB MediaQuery end */


/* SP MediaQuery */
@media only screen and (max-width:478px) {
  .main{
    &__text {
      position: absolute;
      top: 29%;
      left: 24%;
      color: $base-bgcolor-white;
      font-size: $base-fontsize * 2;
    }
  }

}
/* SP MediaQuery end */
